<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="Bintitle">
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" href="https://raw.githubusercontent.com/cepdnaclk/e18-3yp-Smart-Compost-Management-System/main/docs/images/frontend/favicon.ico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/4a126a3fdd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <div class="bg-secondary bg-gradient bg-opacity-25">
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/cepdnaclk/e18-3yp-Smart-Compost-Management-System/main/docs/images/frontend/header-logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="d-flex justify-content-end">	
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item px-3 pr-5"><a class="nav-link" href="/bindata">Home</a></li>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-auto">
                                  <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span id="username">{{user.companyName}}</span>
                                          <img class="profile-image" src="/images/{{user.imagePath}}" alt="">
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="/about">About</a>
                                      <a class="dropdown-item" href="/profile">Profile Settings</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="/">Logout</a>
                                      </div>
                                  </li>
                              </ul>
                            </div> 
                        </ul>
                        <!-- Uncomment to Enable searchbar -->
                        <!-- <form class="d-flex"> -->
                        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                        <!-- <button class="btn btn-outline-primary" type="submit">Search</button> -->
                        <!-- </form> -->
                    </div>
                </div>	
            </div>
        </nav>

        

        <div class="container vh-75">
        <div class="card mb-3" style="max-width: 2000px;" id="detailsCard">
        </div>

        {{!-- Upto this point done --}}


        <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

        <style>
            .container {
                width: 85%;
            }
            body {
                text-align: center;
                color: green;
            }
            h2 {
                text-align: center;
                font-family: "Verdana", sans-serif;
                font-size: 30px;
            }
        </style>

        <div class="card mb-3" style="max-width: 2000px;">
            <div class="card h-100 bg-dark border-2 text-center border-success">
                <div class="row g-0">
                <div class="container">
                    <h2 class="card-title text-white">Temperature Variation of the two Levels</h2>
                    <div>
                        <canvas id="myChart1"></canvas>
                    </div>
                </div></div>
            </div>
        </div>

        <script>
            var binId = ""
            document.querySelector("#Bintitle").innerHTML = "Compost Bin " + localStorage.getItem("binNumber");

            const getBinData = async function(url){
                var dataHTML = ""
                try{
                    const response =  await fetch(url);
                    const binData =  await response.json();

                    dataHTML += generateDetailsCard(binData);
                    document.querySelector("#detailsCard").innerHTML = dataHTML;

                } catch(e){
                    console.log(e)
                }
                
            }

            const generateDetailsCard = function(binData){
                const temp = (binData.temperatureL1 + binData.temperatureL2)/2;
                const humidity = (binData.humidityL1 + binData.humidityL2)/2;
                return `
                <div class="card h-100 bg-dark border-2 text-center border-success" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://raw.githubusercontent.com/cepdnaclk/e18-3yp-Smart-Compost-Management-System/main/docs/images/frontend/bin.png" class="img-fluid rounded-start" alt="..." id="binImageMoreDetails">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title text-white">BIN ${localStorage.getItem("binNumber")} COMPOST</h2>

                                <table class="table table-sm table-dark">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">Will be ready in ${28 - binData.day} days</td>
                                    </tr>				  
                                    <tr>
                                        <td scope="row">Temperature Level 1</td>
                                        <td scope="row">${binData.temperatureL1}°C</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Temperature Level 2</td>
                                        <td scope="row">${binData.temperatureL2}°C</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Temperature Average</td>
                                        <td scope="row">${temp}°C</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Humidity Level 1</td>
                                        <td scope="row">${binData.humidityL1}%</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Humidity Level 2</td>
                                        <td scope="row">${binData.humidityL2}%</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Humidity Average</td>
                                        <td scope="row">${humidity}%</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Methane</td>
                                        <td scope="row">${binData.methaneOutput} ppm</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">Compost Status</td>
                                        <td scope="row">${binData.compostStatus}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                
                                <div class="card-footer border-dark">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>                   
                            </div>
                        </div>
                    </div> 
                </div>
                `
            }
            const getDataStat = async function(binNumber){

                const url = "/api/bindata/all/" + binNumber;
                try {
                    const response =  await fetch(url);
                    const binDatas =  await response.json();


                    var num=0;
                    
                    var BinTempsL1_display = []
                    var BinTempsL2_display = []
                    var BinTempsAvg_display = []
                    var BinHumsL1_display = []
                    var BinHumsL2_display = []
                    var BinHumsAvg_display = []
                    var BinMeths_display = []

                    var tempsL1= 0;
                    var tempsL2= 0;
                    var tempsAvg= 0;
                    var humsL1= 0;
                    var humsL2= 0;
                    var humsAvg= 0;
                    var meths= 0;

                    var xValues = []

                    var qs = 0;
                    var init =0;
                    var prevDay =0
                    
                    binDatas.forEach( (data) =>{
                        var tmpAvg = (data.temperatureL1 + data.temperatureL2)/2;
                        var hum = (data.humidityL1 + data.humidityL2)/2;
                        if(init==0){
                            init=1;
                            num = data.day;
                        }

                        if (data.day == num){
                            tempsL1 += data.temperatureL1;
                            tempsL2 += data.temperatureL2;
                            tempsAvg += tmpAvg;
                            humsL1 += data.humidityL1;
                            humsL2 += data.humidityL2;
                            humsAvg += hum;
                            meths += data.methaneOutput;

                            xValues.push("Day "+data.day + " Q-" + data.quarter);
                            BinTempsL1_display.push(data.temperatureL1);
                            BinTempsL2_display.push(data.temperatureL2);
                            BinTempsAvg_display.push(tmpAvg);
                            BinHumsL1_display.push(data.humidityL1);
                            BinHumsL2_display.push(data.humidityL2);
                            BinHumsAvg_display.push(hum);
                            BinMeths_display.push(data.methaneOutput);

                            qs+=1;
                            prevDay = data.day;

                        } else {
                            BinTempsL1_display.push(tempsL1/qs);
                            BinTempsL2_display.push(tempsL2/qs);
                            BinTempsAvg_display.push(tempsAvg/qs);
                            BinHumsL1_display.push(humsL1/qs);
                            BinHumsL2_display.push(humsL2/qs);
                            BinHumsAvg_display.push(humsAvg/qs);
                            BinMeths_display.push(meths/qs);

                            xValues.push("Day "+prevDay+ " Average");


                            tempsL1 = data.temperatureL1;
                            tempsL2 = data.temperatureL2;
                            tempsAvg = tmpAvg;
                            humsL1 = data.humidityL1;
                            humsL2 = data.humidityL2;
                            humsAvg = hum;
                            meths = data.methaneOutput;
                            qs = 1;

                            xValues.push("Day "+data.day + " Q-" + data.quarter);
                            BinTempsL1_display.push(data.temperatureL1);
                            BinTempsL2_display.push(data.temperatureL2);
                            BinTempsAvg_display.push(tmpAvg);
                            BinHumsL1_display.push(data.humidityL1);
                            BinHumsL2_display.push(data.humidityL2);
                            BinHumsAvg_display.push(hum);
                            BinMeths_display.push(data.methaneOutput);
                           
                            num++;
                            prevDay = data.day;
                        }

                    });
                    BinTempsL1_display.push(tempsL1/qs);
                    BinTempsL2_display.push(tempsL2/qs);
                    BinTempsAvg_display.push(tempsAvg/qs);
                    BinHumsL1_display.push(humsL1/qs);
                    BinHumsL2_display.push(humsL2/qs);
                    BinHumsAvg_display.push(humsAvg/qs);
                    BinMeths_display.push(meths/qs);

                    xValues.push("Day "+prevDay+ " Average");

                    var ctx = document.getElementById("myChart1").getContext("2d");
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [
                        {        
                            label: "Temperature variation(°C) in Level 1 for 28 days",
                            data: BinTempsL1_display,
                            backgroundColor: "rgba(57, 231, 81, 0.47)",
                            
                        },
                        {        
                            label: "Temperature variation(°C) in Level 2 for 28 days",
                            data: BinTempsL2_display,
                            backgroundColor: "rgba(58, 102, 75, 0.81)",
                            
                        }
                        ],
                    },
                    });

                    var ctx = document.getElementById("myChart2").getContext("2d");
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [
                        {        
                            label: "Average Temperature variation(°C) for 28 days",
                            data: BinTempsAvg_display,
                            backgroundColor: "rgba(153,205,1,0.6)",
                            
                        },
                        ],
                    },
                    });

                    var ctx = document.getElementById("myChart3").getContext("2d");
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [
                        {        
                            label: "Humidity variation(%) in Level 1 for 28 days",
                            data: BinHumsL1_display,
                            backgroundColor: "rgba(124, 86, 233, 0.8)",
                            
                        },
                        {        
                            label: "Humidity variation(%) in Level 2 for 28 days",
                            data: BinHumsL2_display,
                            backgroundColor: "rgba(59, 7, 248, 0.8)",
                            
                        }
                        ],
                    },
                    });

                    var ctx = document.getElementById("myChart4").getContext("2d");
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [
                        {        
                            label: "Average Humidity variation(%) for 28 days",
                            data: BinHumsAvg_display,
                            backgroundColor: "rgba(34, 46, 196, 0.81)",
                            
                        },
                        ],
                    },
                    });


                    var ctx = document.getElementById("myChart5").getContext("2d");
                    var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [
                        {        
                            label: "Methane variation(ppm) for 28 days",
                            data: BinMeths_display,
                            backgroundColor: "rgba(28, 242, 190, 0.81)",
                            
                        },
                        ],
                    },
                    });



                } catch (e){
                    console.log(e);
                }
            }

            const getBin = async function(number){
                url1 = "/api/bins/" + number;
                try{
                    const response =  await fetch(url1);
                    const bin =  await response.json();
                
                    const url = "/api/bindata/" + bin._id;
                    binId = bin._id;
                    getBinData(url)
                    getDataStat(binId)
                } catch(e){
                    console.log(e)
                }

            }

            getBin(localStorage.getItem("binNumber"));

        
        </script>

        <div class="card mb-3" style="max-width: 2000px;">
            <div class="card h-100 bg-dark border-2 text-center border-success">
                <div class="row g-0">
                <div class="container">
                    <h2 class="card-title text-white">Average Temperature Variation</h2>
                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div></div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 2000px;">
            <div class="card h-100 bg-dark border-2 text-center border-success">
                <div class="row g-0">
                <div class="container">
                    <h2 class="card-title text-white">Humidity Variation of the two Levels</h2>
                    <div>
                        <canvas id="myChart3"></canvas>
                    </div>
                </div></div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 2000px;">
            <div class="card h-100 bg-dark border-2 text-center border-success">
                <div class="row g-0">
                <div class="container">
                    <h2 class="card-title text-white">Average Humidity Variation</h2>
                    <div>
                        <canvas id="myChart4"></canvas>
                    </div>
                </div></div>
            </div>
        </div>

        

        <div class="card mb-3" style="max-width: 2000px;">
            <div class="card h-100 bg-dark border-2 text-center border-success">
                <div class="row g-0">
                <div class="container">
                    <h2 class="card-title text-white">Methane Variation</h2>
                    <div>
                        <canvas id="myChart5"></canvas>
                    </div>
                </div></div>
            </div>
        </div>
        </div>

        
        
        <footer class="mt-5">
            <p><a class="text-decoration-none text-white" href="#">Back to top</a></p>
        </footer>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>