.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

body {
	background-color: #C8C8C8;
}

footer {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color: #212121;
	border-top: .05rem solid #bfbfbf;
}

footer p:last-child {
	margin-bottom: 0;
}
